.wrapper {
    margin-top: 3%;
    display: flex;
    //justify-content: space-around;
    align-items: center;

    .wrapper_slider {

        width: 40%;

        .wrapper_span {
            color: rgb(224, 41, 41);
        }  
    }
    .description {
        margin-top: 5%;
        width: 40%;

        .description_p {
            margin-top: 5%;
            font-size: 22px;
            margin-bottom: 3%!important;
        }

        .description_span {
            font-size: 22px;
        }
    }


}

@media(max-width: 800px) {

    .wrapper {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    
        .wrapper_slider {

            .wrapper_span {
                color: rgb(224, 41, 41);
            }  
        }
        .description {
            width: 80%;
    
            .description_p {
                font-size: 22px;
            }
    
            .description_span {
                font-size: 22px;
            }
        }
    
        .wrapper_slider {
            width: 40%
        }
    
    }

}

@media(max-width: 420px) {

    .wrapper {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    
        .wrapper_slider {

            width: 100%;

            .wrapper_span {
                color: rgb(224, 41, 41);
            }  
        }
        .description {
            width: 80%;
    
            .description_p {
                font-size: 22px;
            }
    
            .description_span {
                display: block;
                margin-top: 10%!important;
                font-size: 22px;
            }
        }
    
    }

}
